/**
 * Greeeen
 */

/*********************************************
 * FONTS
 *********************************************/
@font-face {
  font-family: "Baloo Chettan";
  src: local("Baloo Chettan Regular"),
       url(../../fonts/Baloo_Chettan/BalooChettan-Regular.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Sniglet";
  src: local("Sniglet Regular"),
       url(../../fonts/Sniglet/Sniglet-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sniglet";
  src: local("Sniglet ExtraBold"),
       url(../../fonts/Sniglet/Sniglet-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Varela Round";
  src: local("Varela Round Regular"),
       url(../../fonts/Varela_Round/VarelaRound-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/*********************************************
 * VARIABLES
 *********************************************/
:root {
  --green: #5ab041;
  --pink: hsl(335.9, 69.9%, 51.8%);
  --pink-highlight: hsl(335.9, 80%, 90%);
  --black: #222;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: white;
}

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: var(--black);
}

::selection {
  color: white;
  background: #98bdef;
  text-shadow: none;
}

::-moz-selection {
  color: white;
  background: #98bdef;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/* Chrome set the font on form controls to Arial which looks horrible on
 * Japanese systems. */
.reveal button,
.reveal textarea,
.reveal input,
.reveal select {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: var(--green);
  font-family: Sniglet, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * SVG HEADINGS
 *********************************************/
/* Use SVG's stroking since it's just generally better */

h2.svg {
  text-shadow: none;
}
h2 svg {
  width: 100%;
  height: 100px;
}
h2 svg text {
  fill: var(--green);
  stroke: var(--black);
  stroke-width: 3px;
  font-size: 80px;
  font-family: Sniglet, sans-serif;
  font-weight: 800;
}
h2.smaller svg text {
  font-size: 60px;
}
h2.center svg text {
  text-anchor: middle;
}

/*********************************************
 * TITLE SLIDES
 *********************************************/
.reveal .section-title h1.svg > svg {
  width: 100%;
  height: 100px;
}

.reveal .section-title h1.svg > svg > text {
  fill: var(--pink);
  stroke: var(--black);
  stroke-width: 3px;
  font-size: 90px;
  font-family: Sniglet, sans-serif;
  font-weight: 800;
  text-anchor: middle;
}

/*********************************************
 * PERFORMANCE TWEAKS
 *********************************************/
.reveal .slides > section.future,
.reveal .slides > section.present {
  will-change: transform, opacity;
}
.reveal .slides > section.future {
  opacity: 0.01;
}
.reveal .slides > section,
.reveal .slides > section > section {
  transform-style: flat;
}

.reveal .slides section.present .fragment {
  will-change: opacity;
  visibility: visible;
}
.reveal .slides section.present .fragment.zoom-in {
  will-change: transform;
}
.reveal .slides section .fragment.visible {
  will-change: unset;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * LIST GRID
 *********************************************/
.reveal ul.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(160px, auto);
  width: 100%;
  margin: 0;
}

.reveal ul.grid li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  padding: 10px;
}
.reveal ul.grid li.fragment.current-fragment {
  background: var(--pink-highlight);
}

.reveal ul.grid li .emoji {
  font-size: 160px;
}

.reveal ul.grid li > figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.reveal ul.grid li > figure > img {
  flex: 1;
  border: none;
  margin: 0;
  height: 140px;
  box-shadow: none;
  background: transparent;
}

.reveal ul.grid li > figure > figcaption {
  font-size: 25px;
  margin-top: 15px;
}

/*********************************************
 * ATTRIBUTION
 *********************************************/
.reveal .full-page-source {
  display: flex;
  align-items: end;
  height: 700px;
  text-align: left;
  font-size: 23px;
  color: white;
  text-shadow: 1px 1px 2px #222;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }
